<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/content/images/favicon.ico")" />
    <title>@ViewBag.Title - Star Trek Online - Foundry Mission Database</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta property="og:site_name" content="foundrymissions.com"/>
    @RenderSection("opengraph", required: false) @*http://ogp.me/*@

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76643373-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Random", "random", "missions")</li>
                    <li>@Html.ActionLink("Submit", "submit", "missions")</li>
                    <li>@Html.ActionLink("Search", "advanced-search", "missions")</li>
                    <li><a href="/contact-us/">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right searchbar">
                    <li class="navsearch">
                        @using (Html.BeginForm("search", "missions", FormMethod.Get, new {  @class = "navbar-form navbar-left" }))
                        { 
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="q">
                            </div>
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="pagefooter">
            Copyright © @DateTime.Now.Year. Icons and Logos by Tomasi "Toa" Akimeta. Star Trek Online logo and all related images are registered trademarks or trademarks of <a href="http://arcgames.com">Perfect World Entertainment</a>.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
