@using FoundryMissionsCom.Models.FoundryMissionModels;
@using FoundryMissionsCom.Models.FoundryMissionViewModels;

@{ 
    ViewBag.Title = "";
    var randomMissionImage = (RandomMissionImageViewModel)ViewBag.RandomImage;
}

@section opengraph{
    <meta property="og:title" content="Star Trek Online Foundry Missions Database" />
    <meta property="og:description" content="Database of Star Trek Online Foundry Missions"/>
    <meta name="description" content="Database of Star Trek Online Foundry Missions"/>
    }


<div class="container">
    <div class="banner jumbotron">
        <figure class="bannerimage">
            <img src="@Url.Content("~/Content/Images/banner.png")" alt="Star Trek Online Foundry Mission Database">
        </figure>
    </div>

    <article>
        <div class="row">
            <section class="missions col-md-6">
                <header><h2>Recently Updated Foundry Missions</h2></header>
                <ul class="list-group">
                    @foreach (Mission mission in ViewBag.RecentlyUpdatedMissions)
                    {
                        <li class="list-group-item mission">@Html.ActionLink(mission.Name, "details", "missions", new { link = mission.MissionLink }, new { }) - By: @Html.ActionLink(mission.Author.CrypticTag, "searchresults", "missions", new { Author = mission.Author.CrypticTag }, new { }) - @mission.Faction</li>
                    }
                </ul>
            </section><!-- Updated Foundry Missions -->
            <section class="col-md-6">
                <header><h2>Random Mission Image</h2></header>
                <div class="random-mission-image">
                    <figure><a href="@Url.Content(randomMissionImage.ImageLink)" target="_blank"><img src="@Url.Content(randomMissionImage.ThumbnailLink)" /></a></figure>
                    <p>@Html.ActionLink(randomMissionImage.MissionName, "details", "missions", new { link = randomMissionImage.MissionLink }, new { }) - By: @Html.ActionLink(randomMissionImage.Author, "searchresults", "missions", new { Author = randomMissionImage.Author }, new { }) - @randomMissionImage.Faction</p>
                </div>
            </section><!-- Random Mission Image -->
        </div>
        <div class="row">
            <section class="missions col-md-6">
                <header><h2>Random Foundry Missions</h2></header>
                <ul class="list-group">
                    @foreach (Mission mission in ViewBag.RandomMissions)
                    {
                        <li class="list-group-item mission">@Html.ActionLink(mission.Name, "details", "missions", new { link = mission.MissionLink }, new { }) - By: @Html.ActionLink(mission.Author.CrypticTag, "searchresults", "missions", new { Author = mission.Author.CrypticTag }, new { }) - @mission.Faction</li>
                    }
                </ul>
            </section><!-- Random Missions -->
            <section class="col-md-6">
                <header><h2>About</h2></header>
                <div class="about">
                    <p>
                        Welcome to FoundryMissions.com, where you can publish and search user-generated missions for Star Trek Online!
                    </p>
                    <p>
                        The site will be updated on a regular basis.
                    </p>
                </div>
            </section><!-- About -->
        </div>
        <div class="row">
            <section class="col-sm-12">
                <header><h2>Updates</h2></header>
                <ul class="list-group home-update-list">
                    <li class="list-group-item update">September 12, 2016 - Added youtube video support when editing or submitting missions</li>
                    <li class="list-group-item update">September 12, 2016 - New higher res Federation icons</li>                    
                    <li class="list-group-item update">September 12, 2016 - Updated Homepage layout</li>
                    <li class="list-group-item update">September 12, 2016 - Updated Mission page layout</li>
                    <li class="list-group-item update">September 12, 2016 - Clickable tags on Mission page allow you to quick search by tag</li> 
                    <li class="list-group-item update">September 12, 2016 - Administrators will get an email notification when a mission requires approval</li>         
                    <li class="list-group-item update">September 12, 2016 - General stability improvements</li>         
                </ul>
            </section>
        </div>

    </article>
</div>