@using FoundryMissionsCom.Helpers;

@model FoundryMissionsCom.Models.FoundryMissionViewModels.ViewMissionViewModel

@{

    ViewBag.Title = Model.Name;
    var description = Model.Description;
    if (description.Length > 100)
    {
        description = description.Substring(0, 100) + "...";
    }
}

@section opengraph{
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:description" content="@description"/>
}


<div class="container content">

    <article>
        <div class="row mission-header">
            <div class="col-md-4 col-xs-12">
                <header>
                    <h1>@Model.Name</h1>
                </header>
                <div class="missioninfo">
                    @Model.Author.CrypticTag
                </div>
                <div class="missioninfo">
                    ST-@Model.CrypticId
                </div>
            </div>
            <div class="col-md-offset-4  col-xs-12 mission-restrictions">
                <div>
                    <img src="@Url.Content("~/Content/Images/"+Model.FactionImageUrl)" title="@Model.Faction.ToString()"/>
                </div>
                <div>
                    @if (@Model.MinimumLevel == 1)
                    {
                        <img src="@Url.Content("~/Content/Images/"+Model.MinimumLevelImageUrl)" title="Any Level" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/"+Model.MinimumLevelImageUrl)" title="Level @Model.MinimumLevel+" />
                    }
                </div>
            </div>
        </div>
        <br/>
        <div class="">
            <section class="col-md-12 mission ">
                <div class="missiondescription ">
                    <p><span style="white-space: pre-line">@Model.Description</span></p>
                </div>
            </section>
        </div>
    </article>
</div>

<footer>
    <p>Last Updated: @Model.DateLastUpdated.ToShortDateString()</p>
</footer>