@using FoundryMissionsCom.Helpers;

@model FoundryMissionsCom.Models.FoundryMissionModels.Mission

@{

    ViewBag.Title = Model.Name;
    var description = Model.Description;
    if (description.Length > 100)
    {
        description = description.Substring(0, 100) + "...";
    }
}

@section opengraph{
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:description" content="@description"/>
}


<div class="container content">

    <article>
        <header><h1>@Model.Name</h1></header>
    </article>
    <div class="missionbanner"></div>
    <div class="row">
        <section class="col-md-12 mission">
            <aside class="missioninfo">
                <p>Author: <a href="/author/zorbane/">@Model.Author.CrypticTag</a></p>
                <p>Faction: <span class="@Model.Faction">@Html.DisplayFor(e => Model.Faction)</span></p>
                <p>Level: @Model.MinimumLevel+</p><p>Length: @Model.Length.DisplayName()</p>
                <p>Code: ST-@Model.CrypticId</p>
                <p>First Published: @Model.DateAdded.ToShortDateString()</p>
                <p>Last Updated: @Model.DateLastUpdated.ToShortDateString()</p>
                @if (Model.Tags.Count > 0)
                {
                    var tags = "Tags: " + String.Join(", ", Model.Tags);
                    <p>@tags</p>
                }
            </aside>
            <div class="missiondescription">
                <p><span style="white-space: pre-line">@Model.Description</span></p>
            </div>
        </section>
    </div>    
</div>