@model IEnumerable<FoundryMissionsCom.Models.FoundryMissionViewModels.ListMissionViewModel>

@{
    ViewBag.Title = "Search Results";
}

@section opengraph{

    <meta property="og:title" content="Search Results" />
}

<h2>Search Results</h2>
    <div class="row search-results-header">
        <div class="col-sm-2 col-xs-12">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-sm-2 col-xs-12">
            @Html.DisplayNameFor(model => model.CrypticId)
        </div>
        <div class="col-sm-2 col-xs-12">
            @Html.DisplayNameFor(model => model.Author)
        </div>
        <div class="col-sm-2 col-xs-12">
            @Html.DisplayNameFor(model => model.MinimumLevel)
        </div>
        <div class="col-sm-2 col-xs-12">
            @Html.DisplayNameFor(model => model.Faction)
        </div>
        <div class="col-sm-1 col-xs-12">
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </div>
        <div class="col-sm-1 col-xs-12">
        </div>
    </div>
@foreach (var item in Model)
{
<div class="row search-result">
    <div class="col-sm-2 col-xs-12">
        @Html.ActionLink(item.Name, "details", new { link = item.MissionLink })
    </div>
    <div class="col-sm-2 col-xs-12">
        ST-@Html.DisplayFor(modelItem => item.CrypticId)
    </div>
    <div class="col-sm-2 col-xs-12">
        @Html.DisplayFor(modelItem => item.Author.CrypticTag)
    </div>
    <div class="col-sm-2 col-xs-12">
        @if (item.MinimumLevel == 1)
        {
            <img src="@Url.Content("~/Content/Images/" + item.LevelImageUrl)" /> <text>Any</text>
        }
        else
        {
            <img src="@Url.Content("~/Content/Images/" + item.LevelImageUrl)"/>@Html.DisplayFor(modelItem => item.MinimumLevel)<text>+</text>;
        }
    </div>
    <div class="col-sm-2 col-xs-12">
        <img src="@Url.Content("~/Content/Images/" + item.FactionImageUrl)" /> @Html.DisplayFor(modelItem => item.Faction)
    </div>
    <div class="col-sm-1 col-xs-12">
        @Html.DisplayFor(modelItem => item.DateLastUpdated)
    </div>
    <div class="col-sm-1 col-xs-12">
        
    @if (User.IsInRole(FoundryMissionsCom.Helpers.ConstantsHelper.AdminRole) || (item.Author.UserName.Equals(User.Identity.Name)))
    {
        @Html.ActionLink("Edit", "edit", new { link = item.MissionLink });
    }
        
    </div>

</div>

}
