@model FoundryMissionsCom.Models.FoundryMissionViewModels.ViewMissionDataViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content("~/content/images/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        <title>View @Model.Name - Star Trek Online Foundry Mission Database</title>
    }
    @Scripts.Render("~/bundles/modernizr")
    <meta property="og:site_name" content="foundrymissions.com" />
</head>
<body>
    <div class="container">
        <div id="tabmenu">

        </div>
        <div id="missiondata" class="row">

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/viewdata")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
