@using FoundryMissionsCom.Helpers;
@model FoundryMissionsCom.Models.FoundryMissionViewModels.ViewCollectionViewModel

@{
    ViewBag.Title = Model.Name;
    var description = Model.Description;
    if (description.Length > 100)
    {
        description = description.Substring(0, 100) + "...";
    }
}

@section opengraph{
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:description" content="@description" />
}

<div class="container content">
    
    <h2>@Model.Name</h2>

    <div class="row">

        @if (Model.ImageLink != null)
        {
            <figure class="collection-image"><img src="@Url.Content(Model.ImageLink)" /></figure>
        }

        <div class="collection-description">
            <div class="row">
                <div class="col-sm-12">
                    <header class=""><h3 class="collection-description-header">Description</h3></header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p><span style="white-space: pre-line">@Model.Description</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <section class="collection-mission-list">
        <div class="row">
             <div class="col-sm-12">
                 <header><h2 class="collection-mission-list-header">Mission List</h2></header>
             </div>
        </div>

        <div class="row collections-list-header">
            <div class="col-sm-2 col-xs-12">
               <p>Name</p>
            </div>
            <div class="col-sm-2 col-xs-12">
                <p>Cryptic Id</p>
            </div>
            <div class="col-sm-2 col-xs-12">
                <p>Author</p>
            </div>
            <div class="col-sm-2 col-xs-12">
                <p>Level</p>
            </div>
            <div class="col-sm-2 col-xs-12">
                <p>Faction</p>
            </div>
            <div class="col-sm-1 col-xs-12">
                <p>Updated</p>
            </div>
            <div class="col-sm-1 col-xs-12">
            </div>
        </div>
        <div class="collection-missions">
            @foreach (var item in Model.Missions)
            {
                <div class="row collection-mission">
                    <div class="col-sm-2 col-xs-12">
                        @Html.ActionLink(item.Name, "details", "missions", new { link = item.MissionLink }, new { })
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        ST-@Html.DisplayFor(modelItem => item.CrypticId)
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        @Html.DisplayFor(modelItem => item.Author.CrypticTag)
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        @if (item.MinimumLevel == 1)
                        {
                            <img src="@Url.Content("~/Content/Images/" + item.LevelImageUrl)" alt="Any Level" /> <text>Any</text>
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/Images/" + item.LevelImageUrl)" alt="@item.MinimumLevel+" />@Html.DisplayFor(modelItem => item.MinimumLevel)<text>+</text>;
                        }
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <img src="@Url.Content("~/Content/Images/" + item.FactionImageUrl)" alt="@item.Faction" /> @Html.DisplayFor(modelItem => item.Faction)
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        @Html.DisplayFor(modelItem => item.DateLastUpdated)
                    </div>
                    <div class="col-sm-1 col-xs-12">

                        @if (User.IsInRole(ConstantsHelper.AdminRole) || (item.Author.UserName.Equals(User.Identity.Name)))
                        {
                            @Html.ActionLink("Edit", "edit", new { link = item.MissionLink });
                        }

                    </div>

                </div>
            }
        </div>
    </section>
</div>