@model IEnumerable<FoundryMissionsCom.Models.FoundryMissionViewModels.ListMissionViewModel>

<div class="container">
    <div class="row search-results-header">
        <div class="col-sm-3 col-xs-12">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-sm-3 col-xs-12">
            @Html.DisplayNameFor(model => model.Author)
        </div>
        <div class="col-sm-3 col-xs-12">
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </div>
        <div class="col-sm-3 col-xs-12">
            Action
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row search-result">
            <div class="col-sm-3 col-xs-12">
                @Html.ActionLink(item.Name, "details", new { link = item.MissionLink })
            </div>
            <div class="col-sm-3 col-xs-12">
                @Html.DisplayFor(modelItem => item.Author.CrypticTag)
            </div>
            <div class="col-sm-3 col-xs-12">
                @Html.DisplayFor(modelItem => item.DateLastUpdated)
            </div>
            <div class="col-sm-3 col-xs-12">
                <input type="submit" value="Approve" id="@item.Id" class="approve-button"/>
                <input type="submit" value="Deny" id="@item.Id" class="deny-button" />
            </div>
        </div>

    }
</div>