@model FoundryMissionsCom.Models.ManageIndexViewModel


@using (Ajax.BeginForm("ChangePassword", "Manage", null,//new { @class = "form-horizontal", role = "form" }))
        new AjaxOptions
        {
            OnFailure = "changePasswordFail",
            OnSuccess = "changePasswordSuccess",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST"
        },
        new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <div id="change-password-result"></div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordModel.OldPassword, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ChangePasswordModel.OldPassword, new { @class = "form-control", Name = "oldPassword" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordModel.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ChangePasswordModel.NewPassword, new { @class = "form-control", Name = "newPassword" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ChangePasswordModel.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}

